<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smallroutine.mapper.ReservationMapper">
    <sql id="Base_Column_List">
    _id as id, reservationTime, name, phone, userId
  </sql>


    <insert id="insertReservation">
        INSERT INTO reservation (
            reservationTime,
            name,
            phone,
            userId
        )VALUES
        (
            #{reservationTime},
            #{name},
            #{phone},
            #{userId}
        )

    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.smallroutine.dto.Reservation">
        UPDATE reservation
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
               reservationTime = #{reservationTime},
        </set>
        WHERE
        _id = #{id}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="int">
        DELETE FROM reservation
        WHERE _id = #{id}
    </delete>
    <select id="selectByPrimaryKey" resultType="com.example.smallroutine.dto.Reservation">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM reservation
        WHERE _id = #{id}
    </select>
    <select id="selectByUserId" resultType="com.example.smallroutine.dto.Reservation">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM reservation
        WHERE userId = #{userId}
    </select>
</mapper>